body
  margin 0
  overflow-x hidden

h1,h2,h3,h4,span,a,p
  font-family $gotham, sans-serif
  color $white
  font-weight 400
h1
  font-size 32px
  line-height 28px
  @media(min-width: 768px)
    font-size 50px
    line-height 60px
  @media(min-width: 1024px)
    font-size 60px
  @media(min-width: 1170px)
    font-size 60px
h2
  font-size 28px
  line-height 30px
  margin 29px 20px
  @media(min-width: 768px)
    font-size 36px
    line-height inherit
    margin 39px 20px 137px
  @media(min-width: 1024px)
    font-size 42px
    margin 60px 20px 95px
  @media(min-width: 1170px)
    margin 60px 20px 121px

// clearfix
.cf:before,
.cf:after
  content " "
  display table

.cf
  *
    zoom 1
  &:after
    clear both

.start-trial
  background-color $red
  text-decoration none
  text-align center
  font-weight 600
  margin 0 auto 55px
  display block
  color white
  font-family GothamPro
  font-size 16px
  line-height 12px
  text-transform uppercase
  border-radius 4px
  width 210px
  padding 24px 0 20px
  @media(min-width 768px) and (max-width 1024px)
    margin 0 auto 132px

.start-trial_white
  border 1px solid $white
  background-color transparent
  line-height 13px
  padding 13px 0 9px
  display none
  @media(min-width: 768px)
    display inline-block
    float right
    margin-top 30px
    margin-bottom 0

.start-trial_navbar
  background-color $red
  line-height 13px
  padding 13px 0 9px
  display none
  float right
  @media(min-width: 768px)
    float right
    display inline-block
    margin-top 30px
    margin-bottom 30px

.start-trial_navbar-mobile
  background-color $red
  margin-right 20px
  line-height 13px
  padding 13px 0 8px
  float right
  font-size 14px
  max-width 124px
  margin-top 13px
  margin-bottom 13px
  @media(min-width 768px)
    display none

.start-trial_footer
  padding 30px 30px 26px
  margin-bottom 31px
  @media(min-width 768px)
    margin-left 0
    margin-bottom 65px


.section-title
  text-align center

.section-title_small-margin
  @media(min-width 768px)
    margin-bottom 84px

.section-title__dark
  color $black

.adaptive-container
  margin 0 auto
  max-width 960px
  @media(min-width: 768px)
    max-width 750px
  @media(min-width: 1024px)
    max-width 991px
  @media(min-width: 1170px)
    max-width 1170px
  @media(min-width: 1440px)
    max-width 1340px
  @media(min-width: 1600px)
    max-width 1550px


.logo
  background-image url("../img/logo.svg")
  display block
  height 30px
  width 130px
  margin 13px auto 0
  background-position center
  background-size cover
  @media(min-width: 768px)
    display inline-block
    float left
    margin-top 30px
    width 170px
    height 42px

.logo-fixed
  float left
  margin-top 18px
  margin-left 20px
  filter invert(100%)
  -webkit-filter invert(100%)
  -ms-filter invert(100%)
  @media(min-width 768px)
    margin-top 28px


.rocket
  width 100%
  position absolute
  width 350px
  transform rotate(27deg)
  top 0
  right 40px
  opacity .5
  @media(min-width 1040px)
    width 400px

.contacts
  color $white
  font-family $gotham
  font-size 14px
  margin-bottom 40px
  @media(min-width 768px)
    font-size 16px
    margin-bottom 36px

.contacts__contact
  display block
  line-height 22px
  text-align center
  margin-right 20px
  @media(min-width 768px)
    display inline
