@font-face
  font-family 'GothamPro'
  src url('GothamPro.eot?') format('eot'),
    url('../fonts/GothamPro.otf')  format('opentype'),
    url('../fonts/GothamPro.woff') format('woff'),
    url('../fonts/GothamPro.ttf')  format('truetype'),
    url('../fonts/GothamPro.svg#GothamPro') format('svg')