.footer
  background-color $blue-dark

.footer__left-side
  display inline-block
  box-sizing border-box
  width 50%
  margin 0
  float left

.footer__right-side
  display inline-block
  box-sizing border-box
  width 50%
  margin 0
  font-size 18px
  float left

