.increase-the-speed
  background-color $blue

.increase-the-speed__title
  max-width 50%
  margin-left auto
  margin-right auto
  margin-bottom 230px
  @media(min-width 768px)
    margin-bottom 170px
  @media(min-width 1024px)
    margin-bottom 150px

.increase-the-speed__paragraph
  text-align center
  font-size 18px
  margin 0 auto 62px
  max-width 206px
  line-height 20px
  @media(min-width 768px)
    max-width 446px
    margin 0 auto 122px
    font-size 22px
    line-height 28px
  @media(min-width 1024px)
    font-size 24px
    line-height 28px

.increase-the-speed__battery
  margin 0 auto
  max-width 280px
  display block
  @media(min-width 768px)
    max-width 550px

.increase-the-speed__ilustration
  margin-bottom 55px