.main
  background-color $blue-light

.main__title
  color $white
  font-weight 400
  text-align center

.main__title-row
  display block

.main__title-row_small
  display inline

.main__subtitle
  text-align center
  display block

.main__display
  margin 0 auto
  display block
