@require 'variables'
@require 'common'
@require 'fonts'

@require 'navbar.styl'
@require 'main-section.styl'
@require 'only-15-min.styl'
@require 'increase-the-speed.styl'
@require 'predictive-dialer.styl'
@require 'reviews.styl'
@require 'footer.styl'
