.only-15-min
  background-color $gray

.only-15-min__col
  display inline-block
  width 33.33%
  margin 0
  float left
  text-align center

.only-15-min__col-title
  color $black

.only-15-min__col-paragraph
  color $black