.predictive-dialer
  background-color $gray

.predictive-dialer__benefit-container
  display inline-block
  width 50%
  float left

.predictive-dialer__bonefit-image
  color $black
.predictive-dialer__bonefit-header
  color $black
.predictive-dialer__bonefit-description
  color $black
.predictive-dialer__bonefit-paragraph
  color $black
