.reviews
  background-color $blue-the-lightest

.reviews__image
  border-radius 50%
  position absolute
  width 80px
  display inline-block
  float left
  left 5px
  top 50%
  transform translate(0, -50%)
  @media(min-width 768px)
    left 13px
  @media(min-width 1170px)
    left 60px

.reviews__row
  width calc(100% - 32px)
  float left
  margin 0 16px
  @media(min-width 768px)
    width 50%
    margin 0

.reviews__container
  position relative
  margin-bottom 30px
  @media(min-width 768px)
    margin-bottom 40px
  @media(min-width 1024px)
    margin-bottom 51px
  @media(min-width 1170px)
    margin-bottom 78px

.reviews__text-container
  background-color $white
  width calc(100% - 133px)
  border-radius 10px
  display inline-block
  float right
  position relative
  padding 14px
  &::before
    content ""
    position absolute
    left -12px
    top 50%
    transform translate(0, -50%)
    width: 0
    height 0
    border-style solid
    border-width 11.5px 12px 11.5px 0
    border-color transparent $white transparent transparent
  @media(min-width 768px)
    width calc(100% - 140px)
  @media(min-width 1170px)
    width calc(100% - 200px)
.reviews__review
  font-size 14px
  margin 0
  line-height 18px
  @media(min-width 768px)
    font-size 16px
    line-height 16px
  @media(min-width 1024px)
    font-size 18px
    line-height 26px

.reviews__initials
  font-size 12px
  margin 17px 0 0

.reviews__review
.reviews__initials
  color $black
