// colors
$blue = #238ee6
$blue-dark = #0d385c
$blue-light = #8ecefb
$blue-the-lightest = #b7e0fb

$red = #ff1958
$dark-red = #f11954
$gray = #f8f8f8
$white = #fff
$black = #000

// fonts
$gotham = 'GothamPro'